body {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  cursor: pointer;
}

#message {
  font-size: 2rem;
  margin-top: 20px;
}
